body{
    font-size: 62.5%;
}
ul{
    list-style: none;
    display: block;
    padding-left: 8%;
}
li{
    display: inline-block;
    margin: 0.5%;
    padding:14%;
    background-color: darkorange;
    border-radius: 1rem;
}


