
/* nav hover效果 */
nav{
    background-color: #29b078;
    color: white
}
nav ul li{
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
}
nav ul li:hover{
    border-bottom: .2rem solid white;
}
/* 轮播模块 */
.lplay {
    position: relative;
}
.lplay  .position-bottom{
    position: absolute;
    bottom: 0;
}
.position-bottom span{ 
    width: .6rem;
    height:.6rem;
}

/* 页面颜色 */
main{
    background-color:#fafafa;
}
footer{
    background-color: #29b078;
}
section footer{
    background-color: white;
}
ul{
    list-style-position: inside;
}
#circle{
    width: 3rem;
    height: 3rem;
    background-color: white;
    box-shadow: .1rem 0 .5rem;
    position: relative;
}

.bg-color{
    background-color: white;
}
.positon-2{
    position: relative;
}
.positon-2 .position-bottom-2{
    position: absolute;
    bottom: -1rem;
}
.positon-2 .position-bottom-2 span{
    width: 1rem;
    height:1rem;
    box-shadow: .1rem .1rem .1rem ;
}
.positon-2 .position-bottom-2 span:nth-child(1){
    background-color: #29b078;
}
.positon-2 .position-bottom-2 span:nth-child(n+2){
    background-color: white;
}
.bg-img{
    background: white;
}
#qy-hover img:hover{
    box-shadow: 0 0 1rem;
}
/* css计数器     */

.box { counter-reset: counter; }
.toper:before { counter-increment: counter; }
.toper:before { 
    content: counter(counter);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#26a26f;
    font-weight: 500
 }
 #border-r{
     border-right:.1rem dashed #cdcdcd;
 }
 .lplay  .positon-center{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
 }
 .font-a{
    font-size: 2rem;
 }
 .font-b{
    font-size: 1.6rem;
 }
 .font-3{
     color: #26a26f;
 }
 @media (min-width: 768px){
    nav ul li{
        padding: 1rem;  
    }
 }
 @media (min-width: 576px) and (max-width: 767.98px){
    .font-a{
        font-size: 1.4rem;
     }
     .font-b{
        font-size: 1rem;
     }
     nav ul li{
        padding: 1rem;  
    }
 }
 @media (max-width: 575.98px){
    .font-a{
        font-size: .8rem;
     }
     .font-b{
        font-size: .6rem;
     }
     .font-3{
         font-size: .6rem
     }
     nav ul li{
         font-size: .5rem;
         padding: 0!important;  
     }
 }